@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html,body {
    background: #f3f3f3;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-light {
    background: white !important;
}

.nav-item a {
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.nav-item a:hover {
    color: skyblue;
    text-decoration: none;
}


.d-block,p {
    margin: 0;
    padding: 0;
}

#contact input,
#contact textarea {
    border: none;
}

#contact p {
    color: gray;
}

#contact span {
    color: #333;
}

.msg-btn {
    background: #10c9c3;
    color: #fff;
    padding: 15px 25px;
    width: 40%;
    text-transform: uppercase;
    font-size: 13px;
}

/*
 * Google Map Styling
 * 
 */

.mapouter{
    position:relative;
    text-align:right;
    width:100%;
    height:400px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:400px
}

.gmap_iframe {
    height:400px!important;
}

/*
 *
 *  Footer styling begins from here
 * 
 */

footer {
    background: #141414;
    color: #ddd;
    padding-top: 50px;
    padding-bottom: 50px;
} 

footer p {
    font-weight: 400;
}